<div class="dashboard__content__wraper admin__content__wrapper">
  <div class="dashboard__section__title">
    <h4>Popular Instructor</h4>
    <a href="../course">See More...</a>
  </div>
  <div class="dashboard__popular__instructor">
    <div class="dashboard__popular__instructor__single">
      <div class="dashboard__popular__instructor__img">
        <img loading="lazy" src="assets/img/teacher/teacher__1.png" alt="">
      </div>
      <div class="dashboard__popular__instructor__content">
        <h4>
          <a href="../instructor-details">Sanki Jho</a>
        </h4>
        <ul>
          <li>
            <i class="icofont-chat"></i>
            25,895 Reviews
          </li>
          <li>
            <i class="icofont-student-alt"></i>
            692 Students
          </li>
          <li>
            <i class="icofont-video-alt"></i>
            15+ Courses
          </li>
        </ul>
      </div>
    </div>

    <div class="dashboard__popular__instructor__single">
      <div class="dashboard__popular__instructor__img">
        <img loading="lazy" src="assets/img/teacher/teacher__2.png" alt="">
      </div>
      <div class="dashboard__popular__instructor__content">
        <h4>
          <a href="../instructor-details">Nidmjae Mollin</a>
        </h4>
        <ul>
          <li>
            <i class="icofont-chat"></i>
            21,895 Reviews
          </li>
          <li>
            <i class="icofont-student-alt"></i>
            95 Students
          </li>
          <li>
            <i class="icofont-video-alt"></i>
            10+ Courses
          </li>
        </ul>
      </div>
    </div>

    <div class="dashboard__popular__instructor__single">
      <div class="dashboard__popular__instructor__img">
        <img loading="lazy" src="assets/img/teacher/teacher__3.png" alt="">
      </div>
      <div class="dashboard__popular__instructor__content">
        <h4>
          <a href="../instructor-details">Nidmjae Mollin</a>
        </h4>
        <ul>
          <li>
            <i class="icofont-chat"></i>
            17,895 Reviews
          </li>
          <li>
            <i class="icofont-student-alt"></i>
            325 Students
          </li>
          <li>
            <i class="icofont-video-alt"></i>
            20+ Courses
          </li>
        </ul>
      </div>
    </div>

    <div class="dashboard__popular__instructor__single">
      <div class="dashboard__popular__instructor__img">
        <img loading="lazy" src="assets/img/teacher/teacher__4.png" alt="">
      </div>
      <div class="dashboard__popular__instructor__content">
        <h4>
          <a href="../instructor-details">Sndi Jac</a>
        </h4>
        <ul>
          <li>
            <i class="icofont-chat"></i>
            17,895 Reviews
          </li>
          <li>
            <i class="icofont-student-alt"></i>
            325 Students
          </li>
          <li>
            <i class="icofont-video-alt"></i>
            45+ Courses
          </li>
        </ul>
      </div>
    </div>

    <div class="dashboard__popular__instructor__single">
      <div class="dashboard__popular__instructor__img">
        <img loading="lazy" src="assets/img/teacher/teacher__5.png" alt="">
      </div>
      <div class="dashboard__popular__instructor__content">
        <h4>
          <a href="../instructor-details">Sndi Jac</a>
        </h4>
        <ul>
          <li>
            <i class="icofont-chat"></i>
            17,895 Reviews
          </li>
          <li>
            <i class="icofont-student-alt"></i>
            325 Students
          </li>
          <li>
            <i class="icofont-video-alt"></i>
            45+ Courses
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>