<div class="testimonialarea__3">
  <div class="container">
    <div class="row">
      <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
        <div class="section__title__2" data-aos="fade-up">
          <div class="section__small__title">
            <span>Education Solution</span>
          </div>
          <div class="section__title__heading__2 section__title__heading__3 heading__fontsize__2">
            <h2>Learner's Testimonial About Our Courses</h2>
          </div>
        </div>

        <div class="testimonial__slider__active__3" data-aos="fade-up">
          <div class="testimonialarea__paragraph__3 ">
            <p class="testimonial__quote"><i class="icofont-quote-left quote__left"></i>The other hand we denounce
              with righteou indg ation and dislike men who are so beguiled and demorali ed by the of pleasure of the
              moment.Dislike men who are so beguiled and
              demoraliz worlds ed by the charms of pleasure of the moment. Lorem ipsum dolor sit amet, consec
              elit.<i class="icofont-quote-right quote__right"></i></p>
            <div class="testimonialarea__person__3">
              <div class="testimonial__img__3">
                <img loading="lazy" src="assets/img/testimonial/testi_2.png" alt="">
              </div>
              <div class="testimonial__name">
                <h6><a href="#">Koba Chuko</a></h6>
                <span>AI/AR Developer</span>
              </div>
            </div>
          </div>

          <div class="testimonialarea__paragraph__3 ">
            <p class="testimonial__quote"><i class="icofont-quote-left quote__left"></i>The other hand we denounce
              with righteou indg ation and dislike men who are so beguiled and demorali ed by the of pleasure of the
              moment.Dislike men who are so beguiled and
              demoraliz worlds ed by the charms of pleasure of the moment. Lorem ipsum dolor sit amet, piscing
              elit.<i class="icofont-quote-right quote__right"></i></p>
            <div class="testimonialarea__person__3">
              <div class="testimonial__img__3">
                <img loading="lazy" src="assets/img/testimonial/testi_2.png" alt="">
              </div>
              <div class="testimonial__name">
                <h6><a href="#">Koba Chuko</a></h6>
                <span>Backend Developer</span>
              </div>
            </div>
          </div>

          <div class="testimonialarea__paragraph__3 ">
            <p class="testimonial__quote"><i class="icofont-quote-left quote__left"></i>The other hand we denounce
              with righteou indg ation and dislike men who are so beguiled and demorali ed by the of pleasure of the
              moment.Dislike men who are so beguiled and
              demoraliz worlds ed by the charms of pleasure of the moment. Lorem ipsum dolor sit amet.<i
                class="icofont-quote-right quote__right"></i></p>

            <div class="testimonialarea__person__3">
              <div class="testimonial__img__3">
                <img loading="lazy" src="assets/img/testimonial/testi_2.png" alt="">
              </div>
              <div class="testimonial__name">
                <h6><a href="#">Koba Chuko</a></h6>
                <span>Ui/Ux Designer</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12" data-aos="fade-up">
        <div class="testimonial__group__img" data-tilt>
          <img loading="lazy" src="assets/img/testimonial/testi__group__1.png" alt="">
        </div>
      </div>
    </div>
  </div>
</div>