<!-- Start header section -->
<header>
  <div class="headerarea transparent__header header__sticky header__area">
    <div class="container desktop__menu__wrapper">
      <div class="row">
        <div class="col-xl-2 col-lg-2 col-md-6">
          <div class="headerarea__left">
            <div class="headerarea__left__logo">

              <a href="index" style="font-weight: 700;">
                <!-- <img loading="lazy" src="assets/img/logo/logo.png" alt="logo" width="40px" height="40px"> -->
                LearnXcel</a>

            </div>

          </div>
        </div>
        <div class="col-xl-7 col-lg-7 main_menu_wrap">
          <div class="headerarea__main__menu">
            <nav>
              <ul>
                <li class="mega__menu position-static">
                  <a class="headerarea__has__dropdown" routerLink="{{ staticRoutes.HOME }}" routerLinkActive="active">Home
                  </a>
                </li>
                @if (isLogged) {
                  @if (isAdmin) {
                    <li>
                      <a class="headerarea__has__dropdown" href="#">Dashboard
                      </a>
                    </li>
                  } @else if (isInstructor) {
                    <li>
                      <a class="headerarea__has__dropdown" href="#">Dashboard
                      </a>
                    </li>
                  }
                  @else if (isStudent) {
                    <li>
                      <a class="headerarea__has__dropdown" href="#">Dashboard
                      </a>
                    </li>
                  }                     
                }
                <li class="mega__menu position-static">
                  <a class="headerarea__has__dropdown" href="#">Courses
                  </a>
                </li>
                <li class="mega__menu position-static">
                  <a class="headerarea__has__dropdown" href="#">Quiz
                  </a>
                </li>
                <li class="mega__menu position-static">
                  <a class="headerarea__has__dropdown" href="#">About
                  </a>
                </li>
                <li class="mega__menu position-static">
                  <a class="headerarea__has__dropdown" href="#">Contact
                  </a>
                </li>

              </ul>
            </nav>
          </div>
        </div>
        <div class="col-xl-3 col-lg-3 col-md-6">
          <div class="headerarea__right">
            <div class="headerarea__login">
              <a href="login"><i class="icofont-user-alt-5"></i></a>
            </div>
            <div class="headerarea__button">
              <a href="#">Get Start</a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="container-fluid mob_menu_wrapper">
      <div class="row align-items-center">
        <div class="col-6">
          <div class="mobile-logo">
            <a class="logo__dark" href="#">
              <!-- <img loading="lazy" src="assets/img/logo/logo.png" alt="logo"> -->
              LearnXcel</a>
          </div>
        </div>
        <div class="col-6">
          <div class="header-right-wrap">
            <div class="headerarea__right">
            </div>
            <div class="mobile-off-canvas">
              <a class="mobile-aside-button" href="#"><i class="icofont-navigation-menu"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
<!-- End header section -->

<!-- Start Mobile Menu -->
<div class="mobile-off-canvas-active">
  <a class="mobile-aside-close"><i class="icofont  icofont-close-line"></i></a>
  <div class="header-mobile-aside-wrap">
    <div class="mobile-search">
      <form class="search-form" action="#">
        <input type="text" placeholder="Search entire store…">
        <button class="button-search"><i class="icofont icofont-search-2"></i></button>
      </form>
    </div>
    <div class="mobile-menu-wrap headerarea">

      <div class="mobile-navigation">

        <nav>
          <ul class="mobile-menu">
            <li class="menu-item-has-children"><a href="index">Home</a></li>

            <!-- When he/she is plateform owner -->
            @if (isAdmin) {
            <ng-container>
              <li class="menu-item-has-children">
                <a href="#">My Dashboard</a>
                <ul class="dropdown">
                  <li><a href="dashboard/admin-dashboard">Admin Dashboard</a></li>
                  <li><a href="dashboard/admin-profile">Admin Profile</a></li>
                  <li><a href="dashboard/admin-message">Message</a></li>
                  <li><a href="dashboard/admin-course">Courses</a></li>
                  <li><a href="dashboard/admin-reviews">Review</a></li>
                  <li><a href="dashboard/admin-quiz-attempts">Admin Quiz</a></li>
                  <li><a href="dashboard/admin-settings">Settings</a></li>
                </ul>
              </li>
            </ng-container>
            }

            <!-- When he/she is an instructor -->
            @if (isInstructor) {
            <ng-container>
              <li class="menu-item-has-children">
                <a href="#"> My Dashboard</a>
                <ul class="dropdown">
                  <li><a href="dashboard/instructor-dashboard">Inst. Dashboard</a></li>
                  <li><a href="dashboard/instructor-profile">Inst. Profile</a></li>
                  <li><a href="dashboard/instructor-message">Message</a></li>
                  <li><a href="dashboard/instructor-reviews">Review</a></li>
                  <li><a href="dashboard/instructor-my-quiz-attempts">My Quiz</a></li>
                  <li><a href="dashboard/instructor-order-history">Order History</a></li>
                  <li><a href="dashboard/instructor-course">My Courses</a></li>
                  <li><a href="dashboard/instructor-announcments">Announcements</a></li>
                  <li><a href="dashboard/instructor-quiz-attempts">Quiz Attempts</a></li>
                  <li><a href="dashboard/instructor-assignments">Assignment</a></li>
                  <li><a href="dashboard/instructor-settings">Settings</a></li>
                </ul>
              </li>
            </ng-container>
            }

            <!-- When he/she is student -->
            @if (isStudent) {
            <ng-container>
              <li class="menu-item-has-children">
                <a href="#">My Dashboard</a>
                <ul class="dropdown">
                  <li><a href="dashboard/student-dashboard">Dashboard</a></li>
                  <li><a href="dashboard/student-profile">Profile</a></li>
                  <li><a href="dashboard/student-message">Message</a></li>
                  <li><a href="dashboard/student-enrolled-courses">Enrolled Courses</a></li>
                  <li><a href="dashboard/student-reviews">Review</a></li>
                  <li><a href="dashboard/student-my-quiz-attempts">My Quiz</a></li>
                  <li><a href="dashboard/student-assignments">Assignment</a></li>
                  <li><a href="dashboard/student-settings">Settings</a></li>
                </ul>
              </li>
            </ng-container>
            }

            <li class="mega__menu position-static">
              <a class="headerarea__has__dropdown" href="#">Courses
              </a>
            </li>
            <li class="mega__menu position-static">
              <a class="headerarea__has__dropdown" href="#">Quiz
              </a>
            </li>
            <li class="mega__menu position-static">
              <a class="headerarea__has__dropdown" href="#">About
              </a>
            </li>
            <li class="mega__menu position-static">
              <a class="headerarea__has__dropdown" href="#">Contact
              </a>
            </li>
            <li class="menu-item-has-children "><a href="dashboard/admin-dashboard">Dashboard</a>

              <ul class="dropdown">
                <li class="menu-item-has-children">
                  <a href="#">Admin</a>

                  <ul class="dropdown">
                    <li><a href="dashboard/admin-dashboard">Admin Dashboard</a></li>
                    <li><a href="dashboard/admin-profile">Admin Profile</a></li>
                    <li><a href="dashboard/admin-message">Message</a></li>
                    <li><a href="dashboard/admin-course">Courses</a></li>
                    <li><a href="dashboard/admin-reviews">Review</a></li>
                    <li><a href="dashboard/admin-quiz-attempts">Admin Quiz</a></li>

                    <li><a href="dashboard/admin-settings">Settings</a></li>
                  </ul>
                </li>

                <li class="menu-item-has-children">
                  <a href="#">Instructor</a>
                  <ul class="dropdown">
                    <li><a href="dashboard/instructor-dashboard">Inst. Dashboard</a></li>
                    <li><a href="dashboard/instructor-profile">Inst. Profile</a></li>
                    <li><a href="dashboard/instructor-message">Message</a></li>
                    <li><a href="dashboard/instructor-reviews">Review</a></li>
                    <li><a href="dashboard/instructor-my-quiz-attempts">My Quiz</a></li>
                    <li><a href="dashboard/instructor-order-history">Order History</a></li>
                    <li><a href="dashboard/instructor-course">My Courses</a></li>
                    <li><a href="dashboard/instructor-announcments">Announcements</a></li>
                    <li><a href="dashboard/instructor-quiz-attempts">Quiz Attempts</a></li>
                    <li><a href="dashboard/instructor-assignments">Assignment</a></li>
                    <li><a href="dashboard/instructor-settings">Settings</a></li>
                  </ul>
                </li>

                <li class="menu-item-has-children">
                  <a href="#">Student</a>
                  <ul class="dropdown">
                    <li><a href="dashboard/student-dashboard">Dashboard</a></li>
                    <li><a href="dashboard/student-profile">Profile</a></li>
                    <li><a href="dashboard/student-message">Message</a></li>
                    <li><a href="dashboard/student-enrolled-courses">Enrolled Courses</a></li>
                    <li><a href="dashboard/student-reviews">Review</a></li>
                    <li><a href="dashboard/student-my-quiz-attempts">My Quiz</a></li>
                    <li><a href="dashboard/student-assignments">Assignment</a></li>
                    <li><a href="dashboard/student-settings">Settings</a></li>
                  </ul>
                </li>
              </ul>
            </li>

          </ul>
        </nav>

      </div>

    </div>
    <div class="mobile-curr-lang-wrap">
      <div class="single-mobile-curr-lang">
        <a class="mobile-language-active" href="#">Language <i class="icofont-thin-down"></i></a>
        <div class="lang-curr-dropdown lang-dropdown-active">
          <ul>
            <li><a href="#">English (US)</a></li>
            <li><a href="#">English (UK)</a></li>
            <li><a href="#">Spanish</a></li>
          </ul>
        </div>
      </div>

      <!-- <div class="single-mobile-curr-lang">
                        <a class="mobile-currency-active" href="#">Currency <i class="icofont-thin-down"></i></a>
                        <div class="lang-curr-dropdown curr-dropdown-active">
                            <ul>
                                <li><a href="#">USD</a></li>
                                <li><a href="#">EUR</a></li>
                                <li><a href="#">Real</a></li>
                                <li><a href="#">BDT</a></li>
                            </ul>
                        </div>
                    </div> -->

      <div class="single-mobile-curr-lang">
        <a class="mobile-account-active" href="#">My Account <i class="icofont-thin-down"></i></a>
        <div class="lang-curr-dropdown account-dropdown-active">
          <ul>
            <li><a href="login">Login</a></li>
            <li><a href="login">/ Create Account</a></li>
            <li><a href="login">My Account</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="mobile-social-wrap">
      <a class="facebook" href="#"><i class="icofont icofont-facebook"></i></a>
      <a class="twitter" href="#"><i class="icofont icofont-twitter"></i></a>
      <a class="pinterest" href="#"><i class="icofont icofont-pinterest"></i></a>
      <a class="instagram" href="#"><i class="icofont icofont-instagram"></i></a>
      <a class="google" href="#"><i class="icofont icofont-youtube-play"></i></a>
    </div>
  </div>
</div>
<!-- Mobile Menu end Here -->