<!-- Start header section -->
<header>
  <div class="headerarea transparent__header header__sticky header__area">
    <div class="container desktop__menu__wrapper">
      <div class="row">
        <div class="col-xl-2 col-lg-2 col-md-6">
          <div class="headerarea__left">
            <div class="headerarea__left__logo">

              <a href="index" style="font-weight: 700;">
                <!-- <img loading="lazy" src="assets/img/logo/logo.png" alt="logo" width="40px" height="40px"> -->
                LearnXcel</a>

            </div>

          </div>
        </div>
        <div class="col-xl-7 col-lg-7 main_menu_wrap">
          <div class="headerarea__main__menu">
            <nav>
              <ul>
                <li class="mega__menu position-static">
                  <a class="headerarea__has__dropdown" routerLink="{{ staticRoutes.HOME }}"
                    routerLinkActive="active">Home
                  </a>
                </li>
                @if (isLogged) {
                @if (isAdmin) {
                <li>
                  <a class="headerarea__has__dropdown" routerLink="{{ staticRoutes.ADMIN_DASHBOARD }}"
                    routerLinkActive="active">
                    Dashboard
                  </a>
                </li>
                } @else if (isInstructor) {
                <li>
                  <a class="headerarea__has__dropdown" routerLink="{{ staticRoutes.INSTRUCTOR_DASHBOARD }}"
                    routerLinkActive="active">Dashboard
                  </a>
                </li>
                }
                @else if (isStudent) {
                <li>
                  <a class="headerarea__has__dropdown" routerLink="{{ staticRoutes.STUDENT_DASHBOARD }}"
                    routerLinkActive="active">Dashboard
                  </a>
                </li>
                }
                }
                <li class="mega__menu position-static">
                  <a class="headerarea__has__dropdown" routerLink="{{ staticRoutes.COURSES }}"
                    routerLinkActive="active">Courses
                  </a>
                </li>
                <li class="mega__menu position-static">
                  <a class="headerarea__has__dropdown" href="#qui-challenges"
                    routerLinkActive="active">Quiz
                  </a>
                </li>
                <!-- <li class="mega__menu position-static">
                  <a class="headerarea__has__dropdown" routerLink="{{ staticRoutes.TEAM }}"
                    routerLinkActive="active">Team
                  </a>
                </li> -->
                <li class="mega__menu position-static">
                  <a class="headerarea__has__dropdown" [attr.href]="'{{ staticRoutes.HOME }}#footer-contact'"
                    routerLinkActive="active">Contact
                  </a>
                </li>
              </ul>
            </nav>
          </div>
        </div>
        <div class="col-xl-3 col-lg-3 col-md-6">
          <div class="headerarea__right">
            <div class="headerarea__login">
              <a [routerLink]="staticRoutes.AUTH"><i class="icofont-user-alt-5"></i></a>
            </div>
            <div class="headerarea__button">
              <a href="#" [routerLink]="staticRoutes.AUTH">Get Start</a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="container-fluid mob_menu_wrapper">
      <div class="row align-items-center">
        <div class="col-6">
          <div class="mobile-logo">
            <a class="logo__dark" routerLink="{{ staticRoutes.HOME }}" routerLinkActive="active">
              <!-- <img loading="lazy" src="assets/img/logo/logo.png" alt="logo"> -->
              LearnXcel</a>
          </div>
        </div>
        <div class="col-6">
          <div class="header-right-wrap">
            <div class="headerarea__right">
            </div>
            <div class="mobile-off-canvas">
              <a class="mobile-aside-button" href="#"><i class="icofont-navigation-menu"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
<!-- End header section -->

<!-- Start Mobile Menu -->
<div class="mobile-off-canvas-active">
  <a class="mobile-aside-close"><i class="icofont  icofont-close-line"></i></a>
  <div class="header-mobile-aside-wrap">
    <div class="mobile-search">
      <form class="search-form" action="#">
        <input type="text" placeholder="Search entire store…">
        <button class="button-search"><i class="icofont icofont-search-2"></i></button>
      </form>
    </div>
    <div class="mobile-menu-wrap headerarea">

      <div class="mobile-navigation">

        <nav>
          <ul class="mobile-menu">
            <li class="menu-item-has-children"><a [routerLink]=" staticRoutes.HOME">Home</a></li>

            <!-- When he/she is plateform owner -->
            @if (isAdmin) {
            <ng-container>
              <li class="menu-item-has-children">
                <a href="#">My Dashboard</a>
                <ul class="dropdown">
                  <li><a href="dashboard/admin-dashboard">Admin Dashboard</a></li>
                  <li><a href="dashboard/admin-profile">Admin Profile</a></li>
                  <li><a href="dashboard/admin-message">Message</a></li>
                  <li><a href="dashboard/admin-course">Courses</a></li>
                  <li><a href="dashboard/admin-reviews">Review</a></li>
                  <li><a href="dashboard/admin-quiz-attempts">Admin Quiz</a></li>
                  <li><a href="dashboard/admin-settings">Settings</a></li>
                </ul>
              </li>
            </ng-container>
            }

            <!-- When he/she is an instructor -->
            @if (isInstructor) {
            <ng-container>
              <li class="menu-item-has-children">
                <a href="javascript:void(0)"> My Dashboard</a>
                <ul class="dropdown">
                  <li>
                    <a [routerLink]="staticRoutes.INSTRUCTOR_DASHBOARD" routerLinkActive="active">
                      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                        stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                        class="feather feather-home">
                        <path d="M3 9l9-7 9 7v11a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z"></path>
                        <polyline points="9 22 9 12 15 12 15 22"></polyline>
                      </svg>
                      Dashboard</a>
                  </li>
                  <li>
                    <a [routerLink]="staticRoutes.INSTRUCTOR_PROFILE" routerLinkActive="active">
                      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                        stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                        class="feather feather-user">
                        <path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"></path>
                        <circle cx="12" cy="7" r="4"></circle>
                      </svg>
                      My Profile</a>
                  </li>
                  <li>
                    <a [routerLink]="staticRoutes.INSTRUCTOR_FAVORITES" routerLinkActive="active">
                      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                        stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                        class="feather feather-bookmark">
                        <path d="M19 21l-7-5-7 5V5a2 2 0 0 1 2-2h10a2 2 0 0 1 2 2z"></path>
                      </svg>
                      Favorites</a>
                  </li>
                  <li>
                    <a [routerLink]="staticRoutes.INSTRUCTOR_REVIEW" routerLinkActive="active">
                      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                        stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                        class="feather feather-star">
                        <polygon
                          points="12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2">
                        </polygon>
                      </svg>
                      Reviews</a>
                  </li>
                  <li>
                    <a [routerLink]="staticRoutes.INSTRUCTOR_QUIZ_ATTEMPTS" routerLinkActive="active">
                      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                        stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                        class="feather feather-help-circle">
                        <circle cx="12" cy="12" r="10"></circle>
                        <path d="M9.09 9a3 3 0 0 1 5.83 1c0 2-3 3-3 3"></path>
                        <line x1="12" y1="17" x2="12.01" y2="17"></line>
                      </svg>
                      My Quiz Attempts</a>
                  </li>
                  <div class="dashboard__nav__title mt-40">
                    <h6>Instructor Special Menu</h6>
                  </div>
                  <div class="dashboard__nav">
                    <ul>
                      <li>
                        <a [routerLink]="staticRoutes.INSTRUCTOR_COURSES" routerLinkActive="active">
                          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                            stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                            class="feather feather-monitor">
                            <rect x="2" y="3" width="20" height="14" rx="2" ry="2"></rect>
                            <line x1="8" y1="21" x2="16" y2="21"></line>
                            <line x1="12" y1="17" x2="12" y2="21"></line>
                          </svg>
                          My Course</a>
                      </li>
                      <li>
                        <a [routerLink]="staticRoutes.INSTRUCTOR_ASSIGNMENTS" routerLinkActive="active">
                          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                            stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                            class="feather feather-volume-1">
                            <polygon points="11 5 6 9 2 9 2 15 6 15 11 19 11 5"></polygon>
                            <path d="M15.54 8.46a5 5 0 0 1 0 7.07"></path>
                          </svg>
                          Assignments</a>
                      </li>
                    </ul>
                  </div>
                  <div class="dashboard__nav__title mt-40">
                    <h6>Account Settings</h6>
                  </div>
                  <div class="dashboard__nav">
                    <ul>
                      <li>
                        <a [routerLink]="staticRoutes.INSTRUCTOR_ACCOUNT_SETTINGS" routerLinkActive="active">
                          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                            stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                            class="feather feather-settings">
                            <circle cx="12" cy="12" r="3"></circle>
                            <path
                              d="M19.4 15a1.65 1.65 0 0 0 .33 1.82l.06.06a2 2 0 0 1 0 2.83 2 2 0 0 1-2.83 0l-.06-.06a1.65 1.65 0 0 0-1.82-.33 1.65 1.65 0 0 0-1 1.51V21a2 2 0 0 1-2 2 2 2 0 0 1-2-2v-.09A1.65 1.65 0 0 0 9 19.4a1.65 1.65 0 0 0-1.82.33l-.06.06a2 2 0 0 1-2.83 0 2 2 0 0 1 0-2.83l.06-.06a1.65 1.65 0 0 0 .33-1.82 1.65 1.65 0 0 0-1.51-1H3a2 2 0 0 1-2-2 2 2 0 0 1 2-2h.09A1.65 1.65 0 0 0 4.6 9a1.65 1.65 0 0 0-.33-1.82l-.06-.06a2 2 0 0 1 0-2.83 2 2 0 0 1 2.83 0l.06.06a1.65 1.65 0 0 0 1.82.33H9a1.65 1.65 0 0 0 1-1.51V3a2 2 0 0 1 2-2 2 2 0 0 1 2 2v.09a1.65 1.65 0 0 0 1 1.51 1.65 1.65 0 0 0 1.82-.33l.06-.06a2 2 0 0 1 2.83 0 2 2 0 0 1 0 2.83l-.06.06a1.65 1.65 0 0 0-.33 1.82V9a1.65 1.65 0 0 0 1.51 1H21a2 2 0 0 1 2 2 2 2 0 0 1-2 2h-.09a1.65 1.65 0 0 0-1.51 1z">
                            </path>
                          </svg>
                          Settings</a>
                      </li>
                    </ul>
                  </div>
                </ul>
            </ng-container>
            }

            <!-- When he/she is student -->
            @if (isStudent) {
            <ng-container>
              <li class="menu-item-has-children">
                <a href="#">My Dashboard</a>
                <ul class="dropdown">
                  <li><a href="dashboard/student-dashboard">Dashboard</a></li>
                  <li><a href="dashboard/student-profile">Profile</a></li>
                  <li><a href="dashboard/student-message">Message</a></li>
                  <li><a href="dashboard/student-enrolled-courses">Enrolled Courses</a></li>
                  <li><a href="dashboard/student-reviews">Review</a></li>
                  <li><a href="dashboard/student-my-quiz-attempts">My Quiz</a></li>
                  <li><a href="dashboard/student-assignments">Assignment</a></li>
                  <li><a href="dashboard/student-settings">Settings</a></li>
                </ul>
              </li>
            </ng-container>
            }

            <li class="mega__menu position-static">
              <a class="headerarea__has__dropdown" routerLink="{{ staticRoutes.COURSES }}"
                routerLinkActive="active">Courses
              </a>
            </li>
            <li class="mega__menu position-static">
              <a class="headerarea__has__dropdown" routerLink="{{ staticRoutes.QUIZ }}" routerLinkActive="active">Quiz
              </a>
            </li>
            <!-- <li class="mega__menu position-static">
              <a class="headerarea__has__dropdown" routerLink="{{ staticRoutes.TEAM }}" routerLinkActive="active">Team
              </a>
            </li> -->
            <li class="mega__menu position-static">
              <a class="headerarea__has__dropdown" [attr.href]="'{{ staticRoutes.HOME }}#footer-contact'">Contact
              </a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
    <div class="mobile-curr-lang-wrap">
      <div class="single-mobile-curr-lang">
        <a class="mobile-account-active" href="#">My Account <i class="icofont-thin-down"></i></a>
        <div class="lang-curr-dropdown account-dropdown-active">
          <ul>
            <li><a [routerLink]="staticRoutes.AUTH">Login</a></li>
            <li><a [routerLink]="staticRoutes.AUTH">/ Create Account</a></li>

            <!-- Start When he/she is logged -->
            @if (isLogged) {
            @if (isAdmin) {
            <li><a routerLink="{{ staticRoutes.ADMIN_PROFILE }}" routerLinkActive="active">My Profil</a></li>
            } @else if (isInstructor) {
            <li><a routerLink="{{ staticRoutes.INSTRUCTOR_PROFILE }}" routerLinkActive="active">My Profil</a></li>
            } @else if (isStudent) {
            <li><a routerLink="{{ staticRoutes.STUDENT_PROFILE }}" routerLinkActive="active">My Profil</a></li>
            }
            }
            <!-- End, When he/she is logged -->

          </ul>
        </div>
      </div>
    </div>
    <div class="mobile-social-wrap">
      <a class="facebook" href="#"><i class="icofont icofont-facebook"></i></a>
      <a class="twitter" href="#"><i class="icofont icofont-twitter"></i></a>
      <a class="pinterest" href="#"><i class="icofont icofont-pinterest"></i></a>
      <a class="instagram" href="#"><i class="icofont icofont-instagram"></i></a>
      <a class="google" href="#"><i class="icofont icofont-youtube-play"></i></a>
    </div>
  </div>
</div>
<!-- Mobile Menu end Here -->