<div class="tution sp_bottom_100 sp_top_50">
  <div class="container-fluid full__width__padding">
    <div class="row">
      <!-- Lesson area  -->
      <div class="col-xl-4 col-lg-12 col-md-12 col-sm-12 col-12" data-aos="fade-up">
        <app-lesson-list></app-lesson-list>
      </div>

      <!-- Video area -->
      <div class="col-xl-8 col-lg-12 col-md-12 col-sm-12 col-12" data-aos="fade-up">
        <app-video-content></app-video-content>
      </div>
    </div>
  </div>
</div>
