<div class="row">
  <div class="col-xl-12">
    <div class="dashboard__form__wraper">
      <div class="dashboard__form__input">
        <label for="#">Current Password</label>
        <input type="text" placeholder="Current password">
      </div>
    </div>
  </div>

  <div class="col-xl-12">
    <div class="dashboard__form__wraper">
      <div class="dashboard__form__input">
        <label for="#">New Password</label>
        <input type="text" placeholder="New Password">
      </div>
    </div>
  </div>

  <div class="col-xl-12">
    <div class="dashboard__form__wraper">
      <div class="dashboard__form__input">
        <label for="#">Re-Type New Password</label>
        <input type="text" placeholder="Re-Type New Password">
      </div>
    </div>
  </div>
  <div class="col-xl-12">
    <div class="dashboard__form__button">
      <a class="default__button" href="javascript:void(0)">Update Password</a>
    </div>
  </div>
</div>