<div class="dashboard__admin__report__wrap">
  <div class="dashboard__admin__report dashboard__linechart">
    <div class="dashboard__admin__report__top">
      <div class="dashboard__section__title">
        <h4>Dashboard</h4>
        <select class="form-select" aria-label="Default select example">
          <option selected>HTML</option>
          <option value="1">CSS</option>
          <option value="2">Javascript</option>
          <option value="3">PHP</option>
          <option value="4">WordPress</option>
        </select>
      </div>
    </div>
    <canvas id="lineChart"></canvas>
  </div>
  <div class="dashboard__admin__report dashboard__piechart">
    <div class="dashboard__admin__report__top">

      <div class="dashboard__section__title">
        <h4>Traffic</h4>
        <select class="form-select" aria-label="Default select example">
          <option selected>Today</option>
          <option value="1">Weekly</option>
          <option value="2">Monthly</option>
          <option value="3">Yearly</option>
        </select>
      </div>
    </div>
    <canvas id="pieChart"></canvas>
  </div>
</div>