<div class="gridarea gridarea__2" id="qui-challenges">
  <div class="container">
    <div class="row grid__row">

      <div class="col-xl-5 col-lg-5 col-md-12 col-sm-12" data-aos="fade-up">
        <div class="section__title__2">
          <div class="section__title__button">
            <div class="default__small__button">Quiz List</div>
          </div>
          <div class="section__title__heading__2 section__title__heading__3 heading__fontsize__2">
            <h2>Ready for challenges ?</h2>
          </div>
        </div>
      </div>
      <div class="col-xl-7 col-lg-7 col-md-12 col-sm-12" data-aos="fade-up">
        <div class="gridfilter_nav grid__filter__2 gridFilter">
          <button class="active" data-filter="*">See All </button>
          <button data-filter=".filter1" class="">Data science </button>
          <button data-filter=".filter2" class="">Engineering </button>
          <button data-filter=".filter3" class="">Python </button>
          <button data-filter=".filter4" class="">Architecture</button>
        </div>
      </div>
    </div>

    <div class="row grid" data-aos="fade-up">
      <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 col-12 grid-item filter1 filter3">
        <div class="gridarea__wraper">
          <div class="gridarea__img">
            <a href="course-details"><img loading="lazy" src="assets/img/quiz/quiz.jpg" alt="grid"></a>
            <div class="gridarea__small__button">
              <div class="grid__badge">Data & Tech</div>
            </div>
            <div class="gridarea__small__icon">
              <a href="#"><i class="icofont-heart-alt"></i></a>
            </div>

          </div>
          <div class="gridarea__content">
            <div class="gridarea__list">
              <ul>
                <li>
                  <i class="icofont-book-alt"></i> 23 Quiz
                </li>
                <li>
                  <i class="icofont-clock-time"></i> 1 hr 30 min
                </li>
              </ul>
            </div>
            <div class="gridarea__heading">
              <h3><a href="course-details">Foundation course to under stand
                  about softwere</a></h3>
            </div>
            <div class="gridarea__price">
              Free
            </div>
            <div class="gridarea__bottom">

              <a href="instructor-details">
                <div class="gridarea__small__img">
                  <img loading="lazy" src="assets/img/quiz/quiz.jpg" alt="grid">
                  <div class="gridarea__small__content">
                    <h6>Micle Jhon</h6>
                  </div>
                </div>
              </a>

              <div class="gridarea__star">
                <i class="icofont-star"></i>
                <i class="icofont-star"></i>
                <i class="icofont-star"></i>
                <i class="icofont-star"></i>
                <i class="icofont-star"></i>
                <span>(44)</span>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 col-12 grid-item filter2 filter3">
        <div class="gridarea__wraper">
          <div class="gridarea__img">
            <img loading="lazy" src="assets/img/quiz/quiz.jpg" alt="grid">
            <div class="gridarea__small__button">
              <div class="grid__badge blue__color">Mechanical</div>
            </div>
            <div class="gridarea__small__icon">
              <a href="#"><i class="icofont-heart-alt"></i></a>
            </div>

          </div>
          <div class="gridarea__content">
            <div class="gridarea__list">
              <ul>
                <li>
                  <i class="icofont-book-alt"></i> 29 Quiz
                </li>
                <li>
                  <i class="icofont-clock-time"></i> 2 hr 10 min
                </li>
              </ul>
            </div>
            <div class="gridarea__heading">
              <h3><a href="#">Nidnies course to under stand
                  about softwere</a></h3>
            </div>
            <div class="gridarea__price">
              Free
            </div>
            <div class="gridarea__bottom">
              <a href="instructor-details">
                <div class="gridarea__small__img">
                  <img loading="lazy" src="assets/img/grid/grid_small_2.jpg" alt="grid">
                  <div class="gridarea__small__content">
                    <h6>Snotras Kadi</h6>
                  </div>
                </div>
              </a>
              <div class="gridarea__star">
                <i class="icofont-star"></i>
                <i class="icofont-star"></i>
                <i class="icofont-star"></i>
                <i class="icofont-star"></i>
                <i class="icofont-star"></i>
                <span>(28)</span>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 col-12 grid-item filter4 filter5">
        <div class="gridarea__wraper">
          <div class="gridarea__img">
            <a href="course-details"><img loading="lazy" src="assets/img/quiz/quiz.jpg" alt="grid"></a>
            <div class="gridarea__small__button">
              <div class="grid__badge pink__color">Development</div>
            </div>
            <div class="gridarea__small__icon">
              <a href="#"><i class="icofont-heart-alt"></i></a>
            </div>

          </div>
          <div class="gridarea__content">
            <div class="gridarea__list">
              <ul>
                <li>
                  <i class="icofont-book-alt"></i> 25 Quiz
                </li>
                <li>
                  <i class="icofont-clock-time"></i> 1 hr 40 min
                </li>
              </ul>
            </div>
            <div class="gridarea__heading">
              <h3><a href="course-details">Minws course to under stand
                  about solution</a></h3>
            </div>
            <div class="gridarea__price">
              Free
            </div>
            <div class="gridarea__bottom">

              <a href="instructor-details">
                <div class="gridarea__small__img">
                  <img loading="lazy" src="assets/img/grid/grid_small_3.jpg" alt="grid">
                  <div class="gridarea__small__content">
                    <h6>Micle Jhon</h6>
                  </div>
                </div>
              </a>

              <div class="gridarea__star">
                <i class="icofont-star"></i>
                <i class="icofont-star"></i>
                <i class="icofont-star"></i>
                <i class="icofont-star"></i>
                <i class="icofont-star"></i>
                <span>(63)</span>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 col-12 grid-item filter4">
        <div class="gridarea__wraper">
          <div class="gridarea__img">
            <a href="course-details"><img loading="lazy" src="assets/img/quiz/quiz.jpg" alt="grid"></a>
            <div class="gridarea__small__button">
              <div class="grid__badge green__color">Ui & UX Design</div>
            </div>
            <div class="gridarea__small__icon">
              <a href="#"><i class="icofont-heart-alt"></i></a>
            </div>

          </div>
          <div class="gridarea__content">
            <div class="gridarea__list">
              <ul>
                <li>
                  <i class="icofont-book-alt"></i> 36 Quiz
                </li>
                <li>
                  <i class="icofont-clock-time"></i> 3 hr 40 min
                </li>
              </ul>
            </div>
            <div class="gridarea__heading">
              <h3><a href="course-details">Design course to under stand
                  about solution</a></h3>
            </div>
            <div class="gridarea__price">
              Free
            </div>
            <div class="gridarea__bottom">

              <a [routerLink]="['instructor', 0, 'profile-details']">
                <div class="gridarea__small__img">
                  <img loading="lazy" src="assets/img/grid/grid_small_4.jpg" alt="grid">
                  <div class="gridarea__small__content">
                    <h6>Kwabina Iverson</h6>
                  </div>
                </div>
              </a>

              <div class="gridarea__star">
                <i class="icofont-star"></i>
                <i class="icofont-star"></i>
                <i class="icofont-star"></i>
                <i class="icofont-star"></i>
                <i class="icofont-star"></i>
                <span>(12)</span>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 col-12 grid-item filter1 filter3">
        <div class="gridarea__wraper">
          <div class="gridarea__img">
            <a href="course-details"><img loading="lazy" src="assets/img/quiz/quiz.jpg" alt="grid"></a>
            <div class="gridarea__small__button">
              <div class="grid__badge orange__color">Data & Tech</div>
            </div>
            <div class="gridarea__small__icon">
              <a href="#"><i class="icofont-heart-alt"></i></a>
            </div>

          </div>
          <div class="gridarea__content">
            <div class="gridarea__list">
              <ul>
                <li>
                  <i class="icofont-book-alt"></i> 36 Quiz
                </li>
                <li>
                  <i class="icofont-clock-time"></i> 3 hr 40 min
                </li>
              </ul>
            </div>
            <div class="gridarea__heading">
              <h3><a href="course-details">Data course to under stand
                  about solution</a></h3>
            </div>
            <div class="gridarea__price">
              Free
            </div>
            <div class="gridarea__bottom">

              <a [routerLink]="['instructor', 0, 'profile-details']">
                <div class="gridarea__small__img">
                  <img loading="lazy" src="assets/img/quiz/quiz.jpg" alt="grid">
                  <div class="gridarea__small__content">
                    <h6>Kwabina Iverson</h6>
                  </div>
                </div>
              </a>

              <div class="gridarea__star">
                <i class="icofont-star"></i>
                <i class="icofont-star"></i>
                <i class="icofont-star"></i>
                <i class="icofont-star"></i>
                <i class="icofont-star"></i>
                <span>(44)</span>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 col-12 grid-item filter5 filter2">
        <div class="gridarea__wraper">
          <div class="gridarea__img">
            <a href="course-details"><img loading="lazy" src="assets/img/quiz/quiz.jpg" alt="grid"></a>
            <div class="gridarea__small__button">
              <div class="grid__badge yellow__color">Big Data</div>
            </div>
            <div class="gridarea__small__icon">
              <a href="#"><i class="icofont-heart-alt"></i></a>
            </div>

          </div>
          <div class="gridarea__content">
            <div class="gridarea__list">
              <ul>
                <li>
                  <i class="icofont-book-alt"></i> 30 Quiz
                </li>
                <li>
                  <i class="icofont-clock-time"></i> 3 hr 40 min
                </li>
              </ul>
            </div>
            <div class="gridarea__heading">
              <h3><a href="course-details">Big data to under stand
                  about solution pacage</a></h3>
            </div>
            <div class="gridarea__price">
              Free
            </div>
            <div class="gridarea__bottom">

              <a [routerLink]="['instructor', 0, 'profile-details']">
                <div class="gridarea__small__img">
                  <img loading="lazy" src="assets/img/grid/grid_small_5.jpg" alt="grid">
                  <div class="gridarea__small__content">
                    <h6>Kwabina Iverson</h6>
                  </div>
                </div>
              </a>

              <div class="gridarea__star">
                <i class="icofont-star"></i>
                <i class="icofont-star"></i>
                <i class="icofont-star"></i>
                <i class="icofont-star"></i>
                <i class="icofont-star"></i>
                <span>(36)</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>