<div class="row">
  <div class="col-xl-12">
    <div class="row">
      <div class="col-xl-6">
        <div class="dashboard__form__wraper">
          <div class="dashboard__form__input">
            <label for="#">First Name</label>
            <input type="text" placeholder="John">
          </div>
        </div>
      </div>

      <div class="col-xl-6">
        <div class="dashboard__form__wraper">
          <div class="dashboard__form__input">
            <label for="#">Last Name</label>
            <input type="text" placeholder="Due">
          </div>
        </div>
      </div>

      <div class="col-xl-6">
        <div class="dashboard__form__wraper">
          <div class="dashboard__form__input">
            <label for="#">User Name</label>
            <input type="text" placeholder="johndue">
          </div>
        </div>
      </div>

      <div class="col-xl-6">
        <div class="dashboard__form__wraper">
          <div class="dashboard__form__input">
            <label for="#">Phone Number</label>
            <input type="text" placeholder="+225-000 000 00 00">
          </div>
        </div>
      </div>

      <div class="col-xl-6">
        <div class="dashboard__form__wraper">
          <div class="dashboard__form__input">
            <label for="#">Skill/Occupation</label>
            <input type="text" placeholder="Full Stack Developer">
          </div>
        </div>
      </div>

      <div class="col-xl-6">
        <div class="dashboard__form__wraper">
          <div class="dashboard__form__input">
            <label for="#">Display Name Publicly As</label>
            <input type="text" placeholder="John">
          </div>
        </div>
      </div>
      <div class="col-xl-12">
        <div class="dashboard__form__wraper">
          <div class="dashboard__form__input">
            <label for="#">Bio</label>
            <textarea name="" id="" cols="30"
              rows="10">Lorem ipsum, dolor sit amet consectetur adipisicing elit.</textarea>
          </div>
        </div>
      </div>
      <div class="col-xl-12">
        <div class="dashboard__form__button">
          <a class="default__button" href="javascript:void(0)">Update Info</a>
        </div>
      </div>
    </div>
  </div>
</div>