<div class="col-xl-8 col-md-8 offset-md-2">
  <div class="loginarea__wraper">
    <div class="login__heading">
      <h5 class="login__title">Login</h5>
      <p class="login__description">Don't have an account yet? <a href="#" data-bs-toggle="modal"
          data-bs-target="#registerModal">Sign up for free</a></p>
    </div>

    <form action="#">
      <div class="login__form">
        <label class="form__label">Username or email</label>
        <input class="common__login__input" type="text" placeholder="Your username or email">
      </div>
      <div class="login__form">
        <label class="form__label">Password</label>
        <input class="common__login__input" type="password" placeholder="Password">
      </div>
      <div class="login__form d-flex justify-content-between flex-wrap gap-2">
        <div class="form__check">
          <input id="forgot" type="checkbox">
          <label for="forgot"> Remember me</label>
        </div>
        <div class="text-end login__form__link">
          <a href="#">Forgot your password?</a>
        </div>
      </div>
      <div class="login__button">
        <a class="default__button" href="#">Log In</a>
      </div>
    </form>
  </div>

  <!-- login__section__end -->