<div class="right-panel lesson__content__main">
  <div class="video-content">
    <span class="close-btn btn"><a href="javascript:void(0)">Return to course <i class="fa fa-reply "></i> </a></span>
    <h2>Video Content Lesson 01</h2>
    <img src="https://img.youtube.com/vi/your-video-id/hqdefault.jpg" alt="Video title"
      style="width:100%; border-radius: 10px;">
    <p>Watch on <a href="https://www.youtube.com/watch?videoID" target="_blank">YouTube</a></p>
    <!-- <iframe src="https://img.youtube.com/vi/your-video-id/hqdefault.jpg" allowfullscreen allow="autoplay"></iframe> -->
  </div>
</div>
