<div class="right-panel lesson__content__main">
  <div class="video-content">
    <span class="close-btn btn"><a href="javascript:void(0)">Return to course <i class="fa fa-reply "></i> </a></span>
    <h2>Video Content Lesson 01</h2>
    <!-- <img src="https://img.youtube.com/vi/your-video-id/hqdefault.jpg" alt="Video title"
      style="width:100%; border-radius: 10px;"> -->
      <iframe width="100%" height="400" src="https://www.youtube.com/embed/FDexiTj_B9Q?si=nEhfmYQjcW0Fjc7P" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    <!-- <iframe src="https://img.youtube.com/vi/your-video-id/hqdefault.jpg" allowfullscreen allow="autoplay"></iframe> -->
  </div>
</div>
