<!-- theme fixed shadow -->
<div>
  <div class="theme__shadow__circle"></div>
  <div class="theme__shadow__circle shadow__right"></div>
</div>
<!-- theme fixed shadow -->

<!-- banner area__section__start -->
<app-banner-partial></app-banner-partial>
<!-- banner area__section__end-->

<!-- animate content start-->
<app-animate-partial></app-animate-partial>
<!-- animate content end-->


<!-- about area__2__section__start -->
<app-about-partial></app-about-partial>
<!-- aboutarea__2__section__end -->

<!-- popular__section__start -->
<app-popular-partial></app-popular-partial>
<!-- popular__section__end -->


<!-- grid__quiz_section__start -->
<app-quiz-partial></app-quiz-partial>
<!-- grid__quiz_section__end -->


<!-- register__section__start-->
<app-register-action-partial></app-register-action-partial>
<!-- register__section__start-->

<!-- testimonial__section__start -->
<app-testimonials></app-testimonials>
<!-- testimonial__section__start -->