<div class="dashboard__content__wraper">
  <div class="dashboard__section__title">
    <h4>Dashboard</h4>
  </div>
  <div class="row">
    <div class="col-xl-6 col-lg-6 col-md-12 col-12">
      <div class="dashboard__single__counter">
        <div class="counterarea__text__wraper">
          <div class="counter__img">
            <img loading="lazy" src="assets/img/counter/counter__1.png" alt="counter">
          </div>
          <div class="counter__content__wraper">
            <div class="counter__number">
              <span class="counter">{{ pendingCourses.length }}</span>+
            </div>
            <p>Pending Courses</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-6 col-lg-6 col-md-12 col-12">
      <div class="dashboard__single__counter">
        <div class="counterarea__text__wraper">
          <div class="counter__img">
            <img loading="lazy" src="assets/img/dashbord/verify.png" alt="counter" width="50px">
          </div>
          <div class="counter__content__wraper">
            <div class="counter__number">
              <span class="counter">{{ publishedCourses.length }}</span>+
            </div>
            <p>Published Courses</p>
          </div>
        </div>
      </div>
    </div>
    
    <div class="col-xl-6 col-lg-6 col-md-12 col-12">
      <div class="dashboard__single__counter">
        <div class="counterarea__text__wraper">
          <div class="counter__img">
            <img loading="lazy" src="assets/img/counter/counter__4.png" alt="counter">
          </div>
          <div class="counter__content__wraper">
            <div class="counter__number">
              <span class="counter"> {{ allCourses.length }}</span>+
            </div>
            <p>Total Courses</p>
          </div>
        </div>
      </div>
    </div>

    <div class="col-xl-6 col-lg-6 col-md-12 col-12">
      <div class="dashboard__single__counter">
        <div class="counterarea__text__wraper">
          <div class="counter__img">
            <img loading="lazy" src="assets/img/counter/counter__3.png" alt="counter">
          </div>
          <div class="counter__content__wraper">
            <div class="counter__number">
              <span class="counter">0</span>k
            </div>
            <p>My Students</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>