<div class="dashboard__content__wraper">
  <div class="dashboard__section__title">
    <h4>My stats</h4>
  </div>
  <div class="row">
    <div class="col-xl-4 col-lg-6 col-md-12 col-12">
      <div class="dashboard__single__counter">
        <div class="counterarea__text__wraper">
          <div class="counter__img">
            <img loading="lazy" src="assets/img/counter/counter__1.png" alt="counter">
          </div>
          <div class="counter__content__wraper">
            <div class="counter__number">
              <span class="counter">27</span>+

            </div>
            <p>Enrolled Courses</p>

          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-4 col-lg-6 col-md-12 col-12">
      <div class="dashboard__single__counter">
        <div class="counterarea__text__wraper">
          <div class="counter__img">
            <img loading="lazy" src="assets/img/counter/counter__2.png" alt="counter">
          </div>
          <div class="counter__content__wraper">
            <div class="counter__number">
              <span class="counter">08</span>+

            </div>
            <p>Active Courses</p>

          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-4 col-lg-6 col-md-12 col-12">
      <div class="dashboard__single__counter">
        <div class="counterarea__text__wraper">
          <div class="counter__img">
            <img loading="lazy" src="assets/img/counter/counter__3.png" alt="counter">
          </div>
          <div class="counter__content__wraper">
            <div class="counter__number">
              <span class="counter">12</span>

            </div>
            <p>Complete Courses</p>

          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-4 col-lg-6 col-md-12 col-12">
      <div class="dashboard__single__counter">
        <div class="counterarea__text__wraper">
          <div class="counter__img">
            <i class="fa-solid fa-circle-question"></i>
          </div>
          <div class="counter__content__wraper">
            <div class="counter__number">
              <span class="counter">9</span>

            </div>
            <p>Complete Quizzes</p>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>