<div class="body__wrapper">
  <main class="main_wrapper overflow-hidden">

    <!-- pre loader area start -->
    <!-- <div id="back__preloader">
      <div id="back__circle_loader"></div>
      <div class="back__loader_logo">
        <img loading="lazy" src="assets/img/logo/logo.png" alt="Preload">
      </div>
    </div> -->
    <!-- pre loader area end -->

    <!-- header area -->
    <app-header></app-header>

    <router-outlet/>

    <!-- Footer Area -->
    <app-footer></app-footer>
  </main>
</div>