<div class="registerarea sp_top_90">
  <div class="container">
    <div class="row">
      <div class="col-xl-7 col-lg-7 col-md-12 col-sm-12 col-12" data-aos="fade-up">
        <div class="registerarea__wraper">
          <div class="section__title registerarea__section__title">
            <div class="section__title__button">
              <div class="default__small__button">Start with LearnXcel</div>
            </div>
            <div class="section__title__heading heading__underline">
              <h2>Register Your <span>Account </span>Get free access to <small>12 000</small> online course and quiz
              </h2>
            </div>
          </div>
        </div>
      </div>


      <div class="col-xl-5 col-lg-5 col-md-12 col-sm-12 col-12" data-aos="fade-up">
        <div class="registerarea__form">
          <div class="registerarea__button mb-2">
            <a class="default__button" href="javascript:void(0)" [routerLink]="staticRoutes.AUTH">Free Sign Up, Now
              <i class="icofont-long-arrow-right"></i>
            </a>
          </div>
          Are you a skilled instructor ? Create your account and be part of our community for shared your knowledge.
          <div class="registerarea__button mt-3">
            <a class="default__button" href="javascript:void(0)"
              [routerLink]="staticRoutes.BECOME_AN_INSTRUCTOR">Instructor Sign Up
              <i class="icofont-long-arrow-right"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="registerarea__img">
    <img loading="lazy" class="register__1" src="assets/img/register/register__1.png" alt="register">
    <img loading="lazy" class="register__2" src="assets/img/register/register__2.png" alt="register">
    <img loading="lazy" class="register__3" src="assets/img/register/register__3.png" alt="register">
  </div>
</div>