<div class="aboutarea__2 aboutarea__4 sp_bottom_30">
  <div class="container">
    <div class="row">
      <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12" data-aos="fade-up">
        <div class="about__right__wraper__2 about__right__wraper__4">
          <div class="educationarea__img" data-tilt>
            <img loading="lazy" class="aboutimg__4__img__1" src="assets/img/about/about_13.png" alt="about">
            <img loading="lazy" class="aboutimg__4__img__2" src="assets/img/about/about_12.png" alt="about">
          </div>

        </div>
      </div>
      <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12" data-aos="fade-up">
        <div class="aboutarea__content__wraper">
          <div class="section__title__2">
            <div class="section__small__title">
              <span>Education Solution</span>
            </div>
            <div class="section__title__heading__2 section__title__heading__3 heading__fontsize__2">
              <h2>Welcome to the online Learning Center</h2>
            </div>
          </div>
          <div class="aboutarea__para aboutarea__para__2">
            <p>25+Contrary Lorem ipsum dolor sit amet consectetur adipisicing elit. Non tempore rerum vero! Maiores
              commodi hic.</p>
          </div>
          <div class="aboutarea__list">
            <ul>
              <li>
                <i class="icofont-check"></i> Explore a variety of fresh educational teach
              </li>
              <li>
                <i class="icofont-check"></i> Lorem ipsum dolor sit amet consectetur.
              </li>
              <li>
                <i class="icofont-check"></i> Dolor sit amet consectetur adipisicing elit.
              </li>
            </ul>
          </div>
          <div class="row about__single__course__counter">
            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 col-12" data-aos="fade-up">
              <div class="counterarea__text__wraper">
                <div class="counter__img">
                  <img loading="lazy" src="assets/img/counter/counter__1.png" alt="counter">
                </div>
                <div class="counter__content__wraper">
                  <div class="counter__number">
                    <span class="counter">27</span>+
                  </div>
                  <p>Got Hired</p>
                </div>
              </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 col-12" data-aos="fade-up">
              <div class="counterarea__text__wraper">
                <div class="counter__img">
                  <img loading="lazy" src="assets/img/counter/counter__2.png" alt="counter">
                </div>
                <div class="counter__content__wraper">
                  <div class="counter__number">
                    <span class="counter">145</span>+
                  </div>
                  <p>Enrolled</p>
                </div>
              </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 col-12" data-aos="fade-up">
              <div class="counterarea__text__wraper">
                <div class="counter__img">
                  <img loading="lazy" src="assets/img/counter/counter__3.png" alt="counter">
                </div>
                <div class="counter__content__wraper">
                  <div class="counter__number">
                    <span class="counter">10</span>k
                  </div>
                  <p>Required</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>