<div class="instructor sp_top_100 sp_bottom_100">
  <div class="container">
    <div class="row">
      <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-12">
        <div class="instructor__sidebar" data-tilt>
          <div class="instructor__sidebar__img" data-aos="fade-up">
            <img loading="lazy" src="assets/img/team/team__4.png" alt="team">
            <div class="instructor__sidebar__small__img">
              <img loading="lazy" src="assets/img/about/about_4.png" alt="img">
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-8 col-lg-8 col-md-12 col-sm-12 col-12">
        <div class="instructor__inner__wraper">
          <div class="instructor__list">
            <ul>
              <li data-aos="fade-up">
                <div class="instructor__heading">
                  <h3>Patko Gabriel</h3>
                  <p>Data & IA Teatcher</p>
                </div>
              </li>
              <li data-aos="fade-up">
                <div class="instructor__review">
                  <span>Review:</span>
                  <div class="instructor__star">
                    <i class="icofont-star"></i>
                    <i class="icofont-star"></i>
                    <i class="icofont-star"></i>
                    <i class="icofont-star"></i>
                    <i class="icofont-star"></i>
                    <span>(19)</span>
                  </div>
                </div>
              </li>

              <li data-aos="fade-up">
                <div class="instructor__follow">
                  <span>Find me:</span>
                  <div class="instructor__icon">
                    <ul>
                      <li>
                        <a href="#"><i class="icofont-facebook"></i></a>
                      </li>
                      <li>
                        <a href="#"><i class="icofont-twitter"></i></a>
                      </li>
                      <li>
                        <a href="#"><i class="icofont-instagram"></i></a>
                      </li>
                      <li>
                        <a href="#"><i class="icofont-youtube-play"></i></a>
                      </li>
                    </ul>
                  </div>
                </div>
              </li>

              @if (isInstructor) {
              <ng-container>
                <li data-aos="fade-up">
                  <div class="instructor__button">
                    <a class="default__button" href="javascript:void(0)">Follow</a>
                  </div>
                </li>
              </ng-container>
              }

            </ul>
          </div>
          <div class="instructor__content__wraper" data-aos="fade-up">
            <h6>Short Bio</h6>
            <p>Only a quid me old mucker squiffy tomfoolery grub cheers ruddy cor blimey guvnor in my flat, up the duff
              Eaton car boot up the kyver pardon you A bit of how's your father David skive off sloshed, don't get
              shirty with me
              chip shop vagabond crikey bugger Queen's English chap. Matie boy nancy boy bite your arm off up the kyver
              old no biggie fantastic boot, David have it show off show off pick your nose and blow off lost the plot
              porkies
              bits and bobs only a quid bugger all mate, absolutely bladdered bamboozled it's your round don't get
              shirty with me down the pub well.</p>
          </div>

          @if (isInstructor) {
          <ng-container>
            <div class="online__course__wrap">
              <div class="instructor__heading__2" data-aos="fade-up">
                <h3>Lastest Courses</h3>
              </div>

              <div class="row instructor__slider__active row__custom__class" data-aos="fade-up">
                <div class="col-xl-6 column__custom__class">
                  <div class="gridarea__wraper">
                    <div class="gridarea__img">
                      <a href="javascript:void(0)" [routerLink]="['/courses', 0, 'details']"><img loading="lazy"
                          src="assets/img/grid/grid_1.png" alt="grid"></a>
                      <div class="gridarea__small__button">
                        <div class="grid__badge">Data &amp; Tech</div>
                      </div>
                      <div class="gridarea__small__icon">
                        <a href="#"><i class="icofont-heart-alt"></i></a>
                      </div>

                    </div>
                    <div class="gridarea__content">
                      <div class="gridarea__list">
                        <ul>
                          <li>
                            <i class="icofont-book-alt"></i> 23 Lesson
                          </li>
                          <li>
                            <i class="icofont-clock-time"></i> 1 hr 30 min
                          </li>
                        </ul>
                      </div>
                      <div class="gridarea__heading">
                        <h3><a href="javascript:void(0)" [routerLink]="['/courses', 0, 'details']">Foundation course to
                            under stand
                            about softwere</a></h3>
                      </div>
                      <div class="gridarea__bottom">
                        <a>
                          <div class="gridarea__small__img">
                            <img loading="lazy" src="assets/img/team/team__4.png" alt="grid">
                            <div class="gridarea__small__content">
                              <h6>Patko Gabriel</h6>
                            </div>
                          </div>
                        </a>

                        <div class="gridarea__star">
                          <i class="icofont-star"></i>
                          <i class="icofont-star"></i>
                          <i class="icofont-star"></i>
                          <i class="icofont-star"></i>
                          <i class="icofont-star"></i>
                          <span>(74)</span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-xl-6 column__custom__class">
                  <div class="gridarea__wraper">
                    <div class="gridarea__img">
                      <a href="javascript:void(0)" [routerLink]="['/courses', 0, 'details']">
                        <img loading="lazy" src="assets/img/grid/grid_2.png" alt="grid">
                      </a>
                      <div class="gridarea__small__button">
                        <div class="grid__badge blue__color">Mechanical</div>
                      </div>
                      <div class="gridarea__small__icon">
                        <a href="#"><i class="icofont-heart-alt"></i></a>
                      </div>

                    </div>
                    <div class="gridarea__content">
                      <div class="gridarea__list">
                        <ul>
                          <li>
                            <i class="icofont-book-alt"></i> 29 Lesson
                          </li>
                          <li>
                            <i class="icofont-clock-time"></i> 2 hr 10 min
                          </li>
                        </ul>
                      </div>
                      <div class="gridarea__heading">
                        <h3><a href="javascript:void(0)" [routerLink]="['/courses', 0, 'details']">Nidnies course to
                            under
                            stand
                            about softwere</a></h3>
                      </div>

                      <div class="gridarea__bottom">
                        <a href="instructor-details.html">
                          <div class="gridarea__small__img">
                            <img loading="lazy" src="assets/img/team/team__4.png" alt="grid">
                            <div class="gridarea__small__content">
                              <h6>Patko Gabriel</h6>
                            </div>
                          </div>
                        </a>
                        <div class="gridarea__star">
                          <i class="icofont-star"></i>
                          <i class="icofont-star"></i>
                          <i class="icofont-star"></i>
                          <i class="icofont-star"></i>
                          <i class="icofont-star"></i>
                          <span>(7)</span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </ng-container>
          }

        </div>
      </div>
    </div>
  </div>
</div>