<div class="col-xl-12 col-lg-12 col-md-12">
  <div class="dashboard__content__wraper">
    <div class="dashboard__section__title">
      <h4>My Profile</h4>
    </div>
    <div class="row">
      <!-- <div class="col-lg-4 col-md-4">
        <div class="dashboard__form">Registration Date</div>
      </div>
      <div class="col-lg-8 col-md-8">
        <div class="dashboard__form">25, may 2024 9:00 PM</div>
      </div> -->
      <!-- <div class="col-lg-4 col-md-4">
        <div class="dashboard__form dashboard__form__margin"> Names</div>
      </div>
      <div class="col-lg-8 col-md-8">
        <div class="dashboard__form dashboard__form__margin">{{ currentUser?.firstName }}</div>
      </div> -->
      <div class="col-lg-4 col-md-4">
        <div class="dashboard__form dashboard__form__margin">Display Name</div>
      </div>
      <div class="col-lg-8 col-md-8">
        <div class="dashboard__form dashboard__form__margin">{{ currentUser?.displayName }}</div>
      </div>
      <div class="col-lg-4 col-md-4">
        <div class="dashboard__form dashboard__form__margin">Username</div>
      </div>
      <div class="col-lg-8 col-md-8">
        <div class="dashboard__form dashboard__form__margin">{{ currentUser?.username }}</div>
      </div>
      <div class="col-lg-4 col-md-4">
        <div class="dashboard__form dashboard__form__margin">Email</div>
      </div>
      <div class="col-lg-8 col-md-8">
        <div class="dashboard__form dashboard__form__margin">{{ currentUser?.email }}</div>
      </div>
      <!-- <div class="col-lg-4 col-md-4">
        <div class="dashboard__form dashboard__form__margin">Phone Number</div>
      </div>
      <div class="col-lg-8 col-md-8">
        <div class="dashboard__form dashboard__form__margin">+0 669 4456 25987</div>
      </div> -->
      <!-- <div class="col-lg-4 col-md-4">
        <div class="dashboard__form dashboard__form__margin">Expert</div>
      </div>
      <div class="col-lg-8 col-md-8">
        <div class="dashboard__form dashboard__form__margin">Graphics Design</div>
      </div> -->
      <div class="col-lg-4 col-md-4">
        <div class="dashboard__form dashboard__form__margin">Biography</div>
      </div>
      <div class="col-lg-8 col-md-8">
        <div class="dashboard__form dashboard__form__margin">{{ currentUser?.about }}</div>
      </div>
    </div>
  </div>
</div>