<div class="col-xl-8 offset-md-2">
  <div class="loginarea__wraper">
    <div class="login__heading">
      <h5 class="login__title">Sign Up</h5>
      <p class="login__description">Already have an account? <a href="#" >Log In</a></p>
      <p class="login__description">Want to become an instructor ? <a href="javascript:void(0)"
          [routerLink]="staticRoutes.BECOME_AN_INSTRUCTOR">Click here</a></p>
    </div>
    <form action="#">
      <div class="row">
        <div class="col-xl-6">
          <div class="login__form">
            <label class="form__label">First Name</label>
            <input class="common__login__input" type="text" placeholder="First Name">
          </div>
        </div>
        <div class="col-xl-6">
          <div class="login__form">
            <label class="form__label">Last Name</label>
            <input class="common__login__input" type="password" placeholder="Last Name">
          </div>
        </div>
        <div class="col-xl-6">
          <div class="login__form">
            <label class="form__label">Username</label>
            <input class="common__login__input" type="password" placeholder="Username">
          </div>
        </div>
        <div class="col-xl-6">
          <div class="login__form">
            <label class="form__label">Email</label>
            <input class="common__login__input" type="password" placeholder="Your Email">
          </div>
        </div>
        <div class="col-xl-6">
          <div class="login__form">
            <label class="form__label">Password</label>
            <input class="common__login__input" type="password" placeholder="Password">
          </div>
        </div>
        <div class="col-xl-6">
          <div class="login__form">
            <label class="form__label">Re-Enter Password</label>
            <input class="common__login__input" type="password" placeholder="Re-Enter Password">
          </div>
        </div>
      </div>

      <div class="login__form d-flex justify-content-between flex-wrap gap-2">
        <div class="form__check">
          <input id="accept_pp" type="checkbox"> <label for="accept_pp">Accept the Terms and Privacy
            Policy</label>
        </div>
      </div>
      <div class="login__button">
        <a class="default__button" href="#">Sing Up</a>
      </div>
    </form>
  </div>
</div>